:root {
    --mat-sys-primary: white;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.loading {
    text-align: center;
    background-color: #ff4d4d;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.movie-card {
    background-color: #1e1e1e;
    width: 400px;
    border-radius: 50%;
    border: 3px solid rgba(255, 204, 0, 0.6);
    /* Zlatna poluprovidna ivica */
    box-shadow: 0 0 15px rgba(255, 204, 0, 0.5);
    /* Efekat sjaja */


    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(255, 204, 0, 0.8);
    /* Pojačan sjaj na hover */
}

mat-card-image {
    width: 100%;
    height: max-content;
    border-bottom: 2px solid #ffcc00;
    max-height: 450px;
}

mat-mdc-button a {
    color: #cccccc;
}

mat-card-content {
    padding: 15px;
}

mat-card-content h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffcc00;
}

mat-card-content p {
    font-size: 14px;
    color: #cccccc;
    margin-bottom: 5px;
    margin-top: 10px;
}

mat-card-actions {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid #333;
    background: #1a1a1a;
}

mat-card-actions a {
    text-decoration: none;
    color: #ffcc00;
    font-weight: bold;
    transition: color 0.3s;
}

mat-card-actions a:hover {
    color: #ffffff;
}

a:is(mat-button) {
    color: white;
}

.wrapper {
    margin-top: 30px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.auth-card {
    margin-top: 30px;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100%;
}