.search-input {
    width: 33%;
}


p {
    width: 200px;
    padding: 2px 5px;
  
    /* Both of the following are required for text-overflow */
    white-space: nowrap;
    overflow: hidden;
  }
  
  .overflow-clip {
    text-overflow: clip;
  }
  
  .overflow-ellipsis {
    text-overflow: ellipsis;
  }

.search-card {
    margin-bottom: 10px;
    text-overflow: ellipsis;
    
}