.movie-card {
    min-width: 49%;
}

.movie-content {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.movie-content img {
    max-width: 620px;
}

.movie-map {
    width: auto;
    height: 100%;
}

